# Introduction to Pandas

![Pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/500px-Pandas_logo.svg.png)
## What is it?
`pandas` is an open source **Python** library for data analysis. Python has always been great for prepping and munging data, but it's never been great for analysis - you'd usually end up using **R** or loading it into a database and using SQL (or worse, Excel). **pandas** makes Python great for analysis.

> `pandas` is a Python package providing fast, flexible, and expressive data structures designed to make working > with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building
> block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming > the most powerful and flexible open source data analysis / manipulation tool available in any language. It is 
> already well on its way toward this goal.

`pandas` is well suited for many different kinds of data:

  - Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
  - Ordered and unordered (not necessarily fixed-frequency) time series data.
  - Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
  - Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

The two primary data structures of pandas, `Series` (1-dimensional) and `DataFrame` (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. For **R** users, `DataFrame` provides everything that **R**’s data.frame provides and much more. `pandas` is built on top of `numpy` and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

Here are just a few of the things that pandas does well:

  - Easy handling of missing data (represented as `nan`) in floating point as well as non-floating point data
  - Size mutability: columns can be inserted and deleted from `DataFrame` and higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let `Series`, `DataFrame`, etc. automatically align the data for you in computations
  - Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
  - Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into `DataFrame` objects
  - Intelligent label-based slicing, fancy indexing, and subsetting of large data sets
  - Intuitive merging and joining data sets
  - Flexible reshaping and pivoting of data sets
  - Hierarchical labeling of axes (possible to have multiple labels per tick)
  - Robust IO tools for loading data from flat files (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format
  - Time series-specific functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Data Structures
`pandas` introduces two new data structures to Python - `Series` and `DataFrame`, both of which are built on top of `numpy` (this means it's fast).

In [ ]:
%pylab inline

Most common way to import `pandas` is

In [ ]:
import pandas as pd

## Series
A `Series` is a one-dimensional object similar to an array, list, or column in a table. It will assign a labeled index to each item in the Series. By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [ ]:
# create a Series with an arbitrary list
s = pd.Series([7, 'Tonda', 3.14, -1789710578, 'Blaník'])
s

Alternatively, you can specify an index to use when creating the `Series`.

In [ ]:
s = pd.Series([7, 'Tonda', 3.14, -1789710578, 'Blaník'], index=['A', 'Z', 'C', 'Y', 'E'])
s

You can also assign a name to the `Series`.

In [ ]:
s = pd.Series([7, 'Tonda', 3.14, -1789710578, 'Blaník'], index=['A', 'Z', 'C', 'Y', 'E'], name='Stream')
s

The `Series` constructor can convert a dictonary as well, using the keys of the dictionary as its index.

In [ ]:
d = {'Brno': 1000, 'Praha': 1300, 'Ostrava': 900, 'Plzeň': 1100,
     'České Budějovice': 450, 'Nejdek': None}
cities = pd.Series(d)
cities

You can use the index to select specific items from the `Series` ...

In [ ]:
cities['Praha']

In [ ]:
cities[['Praha', 'Brno', 'Ostrava']]

Or you can use boolean indexing for selection.

In [ ]:
cities[cities < 1000]

You can also change the values in a `Series` on the fly.

In [ ]:
# changing based on the index
print('Old value:', cities['Praha'])
cities['Praha'] = 1400
print('New value:', cities['Praha'])

In [ ]:
# changing values using boolean logic
print(cities[cities < 1000])
print('\n')
cities[cities < 1000] = 750

print(cities[cities < 1000])

What if you aren't sure whether an item is in the `Series`? You can check using idiomatic Python.

In [ ]:
print('Karlovy Vary' in cities)
print('Plzeň' in cities)

Mathematical operations can be done using scalars and functions.

In [ ]:
# divide city values by 3
cities / 3

In [ ]:
# square city values
cities**2

You can add two `Series` together, which returns a union of the two `Series` with the addition occurring on the shared index values. Values on either `Series` that did not have a shared index will produce a NULL/NaN (not a number).

In [ ]:
print(cities[['Praha', 'Brno', 'Ostrava']])
print('\n')
print(cities[['České Budějovice', 'Brno']])
print('\n')
print(cities[['Praha', 'Brno', 'Ostrava']] + cities[['České Budějovice', 'Brno']])

Notice that because Ostrava, Praha, and České Budějovice were not found in **both** Series, they were returned with NULL/NaN values.

NULL checking can be performed with isnull and notnull.

In [ ]:
# returns a boolean series indicating which values aren't NULL
cities.notnull()

In [ ]:
# use boolean logic to grab the NULL cities
print(cities.isnull())
print('\n')
print(cities[cities.isnull()])

## DataFrame
A `DataFrame` is a tablular data structure comprised of rows and columns, akin to a spreadsheet, database table, or R's data.frame object. You can also think of a `DataFrame` as a group of `Series` objects that share an index (the column names).

For the rest of the tutorial, we'll be primarily working with `DataFrames`.

### Different ways to create Pandas Dataframe
Pandas `DataFrame` can be created in multiple ways. Let’s discuss different ways to create a `DataFrame` one by one.
#### Method #1: Creating Pandas DataFrame from lists of lists.

In [ ]:
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

#### Method #2: Creating DataFrame from dict of narray/lists
To create `DataFrame` from dictionary of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [ ]:
# intialise dict of lists. 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 
        'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
  
# Print the output. 
df

In [ ]:
# intialise dict of lists. 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 
        'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data, index=['P1', 'P2', 'P3', 'P4']) 
  
# Print the output. 
df

#### Method #4: Creating Dataframe from list of dicts
Pandas `DataFrame` can be created by passing lists of dictionaries as a input data. By default dictionary keys taken as columns. Note that missing values are filled as NaN.

In [ ]:
# Initialise data to lists. 
data = [{'a': 1, 'b': 2, 'c':3}, 
        {'a':10, 'b': 20, 'c': 30},
        {'a':30, 'b': 63}] 
  
# Creates DataFrame. 
df = pd.DataFrame(data, index =['first', 'second', 'third']) 
  
# Print the data 
df

#### Method #5: Creating DataFrame using zip() function.

Two or more lists can be merged by using `zip()` function and passed to `pd.DataFrame()` function.

In [ ]:
# List1  
Name = ['tom', 'krish', 'nick', 'juli']  
    
# List2  
Age = [25, 30, 26, 22]  
    
# pandas Dataframe.  
df = pd.DataFrame(zip(Name, Age), columns = ['Name', 'Age'])  
     
# Print data.  
df

### NOTE
There are several other methods which could be used to [create or initialize Pandas DataFrame](https://towardsdatascience.com/15-ways-to-create-a-pandas-dataframe-754ecc082c17).

### Index from column
Index could be also created from existing column

In [ ]:
data = {'rok': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
        'přihlášeno': [1524, 1607, 1793, 1751, 1629, 1563, 1564, 1415],
        'přijato': [964, 1130, 1168, 1031, 1077, 1114, 1092, 1018]}
prfuk = pd.DataFrame(data)
prfuk

In [ ]:
r = prfuk.set_index('rok')
r

This allows you to easily access data based on 'rok'.

In [ ]:
r.loc[2013]

The new values could be calculated and assigned to new column

In [ ]:
prfuk['úspěšnost'] = prfuk['přijato'] / prfuk['přihlášeno']
prfuk

Would you like to change formatting style? You can do it.

In [ ]:
prfuk.style.format({
    'přihlášeno': '{:,d}'.format,
    'přijato': '{:,d}'.format,
    'úspěšnost': '{:.2%}'.format,
})

Much more often, you'll have a dataset you want to read into a DataFrame. Let's go through several common ways of doing so.

### CSV

Reading a CSV is as simple as calling the read_csv function. By default, the read_csv function expects the column separator to be a comma, but you can change that using the sep parameter.

In [ ]:
# Source: baseball-reference.com/players/r/riverma01.shtml
!head -n 5 titanic.csv

### Demonstation of pandas on Titanic dataset

In [ ]:
df = pd.read_csv('titanic.csv')

`pandas` various reader functions have many parameters allowing you to do things like skipping lines of the file, parsing dates, or specifying how to handle NA/NULL datapoints.

There's also a set of writer functions for writing to a variety of formats (CSVs, HTML tables, JSON). They function exactly as you'd expect and are typically called to_format:

    my_dataframe.to_csv('path_to_file.csv')

Take a look at [the IO documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) to familiarize yourself with file reading/writing functionality.

### Excel

Know who hates VBA? Me. I bet you do, too. Thankfully, pandas allows you to read and write Excel files, so you can easily read from Excel, write your code in Python, and then write back out to Excel - no need for VBA. Check [`read_excel()`](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-excel-reader) method.

### From internet

You can also read data directly from internet.

In [ ]:
# Incremental and cumulative daily numbers of people with proven COVID-19 disease according to reports from regional hygiene stations, including laboratories.
url = 'https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/nakaza.csv'
df2 = pd.read_csv(url)
df2

### Working with DataFrames

Now that we can get data into a DataFrame, we can finally start working with them. **pandas** has an abundance of functionality, far too much for me to cover in this introduction. I'd encourage anyone interested in diving deeper into the library to check out its [excellent documentation](http://pandas.pydata.org/pandas-docs/stable/). Or just use Google - there are a lot of Stack Overflow questions and blog posts covering specifics of the library.

So back to our titanic dataset. Get some information about it.

### Inspection
**pandas** has a variety of functions for getting basic information about your DataFrame, the most basic of which is using the info method.

In [ ]:
df.info()

The output tells a few things about our DataFrame.

 - It's obviously an instance of a DataFrame.
 - Each row was assigned an index of 0 to N-1, where N is the number of rows in the DataFrame. pandas will do this by default if an index is not specified. Don't worry, this can be changed later.
 - There are 891 rows (every row must have an index).
 - Our dataset has 15 columns, where few has missing some values (age, embarked, deck and embark_town).
 - The last datatypes of each column, but not necessarily in the corresponding order to the listed columns. You should use the dtypes method to get the datatype for each column.
 - An approximate amount of RAM used to hold the DataFrame. See the .memory_usage method

DataFrame's also have a describe method, which is great for seeing basic statistics about the dataset's numeric columns. Be careful though, since this will return information on all columns of a numeric datatype.

In [ ]:
df.describe()

You will notice that I've used the head method regularly throughout this lecture - by default, head displays the first five records of the dataset, while tail displays the last five.

In [ ]:
df.head()

In [ ]:
df.tail()

Alternatively, Python's regular slicing syntax works as well.

In [ ]:
df[10:16]

Check dataset dimensions.. how many row and columns?

In [ ]:
df.shape

Print column names and types

In [ ]:
df.dtypes

In [ ]:
df.columns

## Selecting data

You can think of a DataFrame as a group of Series that share an index (in this case the column headers). This makes it easy to select specific columns.

Selecting a single column from the DataFrame will return a Series object.

In [ ]:
df['age'].head()

In [ ]:
df.age.head()

To select multiple columns, simply pass a list of column names to the DataFrame, the output of which will be a DataFrame.

In [ ]:
df[['age', 'survived']].head()

## Selecting with conditions
Row selection can be done multiple ways, but doing so by an individual index or boolean indexing are typically easiest.

In [ ]:
df.age[df.age > 35].head()

In [ ]:
df[df.age > 35].head()

## Selecting data using `iloc`
The `iloc` indexer for Pandas Dataframe is used for integer-location based indexing / selection by position.

The iloc indexer syntax is `df.iloc[<row selection>, <column selection>]`, which is sure to be a source of confusion for R users. `iloc` in pandas is used to select rows and columns by number, in the order that they appear in the data frame.

In [ ]:
# Single selections using iloc and DataFrame
# Rows:
df.iloc[0] # first row of data frame (Aleshia Tomkiewicz) - Note a Series data type output.
df.iloc[1] # second row of data frame (Evan Zigomalas)
df.iloc[-1] # last row of data frame (Mi Richan)
# Columns:
df.iloc[:,0] # first column of data frame (first_name)
df.iloc[:,1] # second column of data frame (last_name)
df.iloc[:,-1] # last column of data frame (id)
# Multiple row and column selections using iloc and DataFrame
df.iloc[0:5] # first five rows of dataframe
df.iloc[:, 0:2] # first two columns of data frame with all rows
df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
df.iloc[:5, -3:] # first 5 rows and last 3 columns.

In [ ]:
df.iloc[10]

In [ ]:
df.iloc[[1, 50, 300]]

## Selecting data using “loc”
The Pandas loc indexer can be used with DataFrames for selecting rows by label/index

In [ ]:
r = prfuk.set_index('rok')
r

In [ ]:
r.loc[2013]

In [ ]:
r.loc[[2011, 2013, 2015]]

### Boolean indexing

In [ ]:
r[r['přijato'] > 1100]

In [ ]:
r.loc[r['přijato'] > 1100]

In [ ]:
r.loc[r['přijato'] > 1100, 'úspěšnost']

In [ ]:
r.loc[r['přijato'] > 1100, ['úspěšnost']]

In [ ]:
r.loc[r['přijato'] > 1100, ['přijato', 'úspěšnost']]

The simplified rules of indexing are:

 - Use `loc` for label-based indexing or boolean
 - Use `iloc` for positional indexing

### Examples
Only age, sex and pclass of baby passengers (younger than 1 year), who have survived

In [ ]:
df.loc[(df.survived == 1 ) & (df.age <= 2 ), ['age', 'sex', 'pclass']]

## Counting
How many people survived and what is the percentage?

In [ ]:
df[df.survived == 1].count()

In [ ]:
df.survived[df.survived == 1].count()

`value_counts()` provides occurance of each unique values in the column.

In [ ]:
df.survived.value_counts()

In [ ]:
df.survived.value_counts(normalize=True)

In [ ]:
df.sex.value_counts()

In [ ]:
df[df.survived == 1].sex.value_counts()

### Compute a simple cross-tabulation
Cross tabulation between gender and survived?

In [ ]:
pd.crosstab(df.sex, df.survived )

In what class?

In [ ]:
pd.crosstab(df['class'], df.survived)

Cross tabulation between passenger class and from where they embarked the ship?

In [ ]:
pd.crosstab(df.pclass, df.embarked)

In [ ]:
df.survived[df.age < 5].value_counts()

In [ ]:
df.age.hist(bins=25);

In [ ]:
plot(df.age, df.fare, 'g*');

In [ ]:
df.fare.sum()

In [ ]:
df.fare[df.sex == 'male'].sum()

In [ ]:
df.fare[df.sex == 'female'].sum()

## Grouping
By `group by` we are referring to a process involving one or more of the following steps

 - **Splitting** the data into groups based on some criteria
 - **Applying** a function to each group independently
 - **Combining** the results into a data structure

Of these, the split step is the most straightforward. In fact, in many situations you may wish to split the data set into groups and do something with those groups yourself. In the apply step, we might wish to one of the following:

 - Aggregation: computing a summary statistic (or statistics) about each group. Some examples:

    - Compute group sums or means
    - Compute group sizes / counts
    - Transformation: perform some group-specific computations and return a like-indexed. Some examples:

 - Standardizing data (zscore) within group
    - Filling NAs within groups with a value derived from each group
    - Filtration: discard some groups, according to a group-wise computation that evaluates True or False. Some examples:

 - Discarding data that belongs to groups with only a few members
    - Filtering out data based on the group sum or mean
 - Some combination of the above: GroupBy will examine the results of the apply step and try to return a sensibly combined result if it doesn’t fit into either of the above two categories

In [ ]:
df2 = pd.DataFrame({'X' : ['B', 'B', 'A', 'A'], 'Y' : [1, 2, 3, 4]})
df2

In [ ]:
df2.groupby(['X']).sum()

In [ ]:
df2.groupby(['X']).get_group('A')

In [ ]:
df.groupby('who')['fare'].sum()

In [ ]:
df.groupby('who')['fare'].mean()

In [ ]:
df.boxplot('age', by='who');